#motivation {
  margin-top: 60px;
}

.motivation-heading {
  text-align: center;
  font-size: 1.5em;
  font-style: italic;
  color: rgb(68, 82, 107);
}

.number-boxes {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.number-box {
  margin-top: 30px;
  width: 200px;
  height: 150px;
  border: 0px solid #ccc;
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 3em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.text {
  font-size: 1.5em;
}

.number-box p {
  margin: 0;
  color: #666;
}

/* Responsive styles */
@media (max-width: 768px) {
  .motivation-heading {
    font-size: 1.5em;
  }
  .number-box {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .number {
    font-size: 2.5em;
  }
  .text {
    font-size: 1.2em;
  }
}

@media (max-width: 480px) {
  .motivation-heading {
    font-size: 1.2em;
  }
  .number {
    font-size: 2em;
  }
  .text {
    font-size: 1em;
  }
}
