#services {
  margin-top: 30px;
  padding: 30px 70px;
}

.services-heading {
  text-align: center;
  font-size: 2.5em;
}

.service-grid {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.service-box {
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 0.3s ease;
  margin: 0 auto;
  text-align: center;
  height: 200px;
  width: 250px;
}

.service-box:hover {
  transform: translateY(-5px);
}

.service-box p {
  margin-top: 10px;
  text-align: center;
}

.service-box.expanded {
  grid-column: span 3;
}

.service-image {
  width: 100%;
  object-fit: cover;
}
