#technologies {
  margin-top: 60px;
}

.technologies-heading {
  text-align: center;
  font-size: 2.5em;
}

.grid-container {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 10px;
  justify-items: center;
  margin-bottom: 20px;
}

.grid-item {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  height: 150px;
  width: 150px;
}

.tech-images {
  padding-top: 20px;
  height: 75%;
  width: 75%;
}

.tech-button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
}

.expanded {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

/* Responsive styles */
@media (max-width: 768px) {
  .technologies-heading {
    font-size: 2em;
  }

  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(120px, 1fr)
    ); /* Adjust for tablet screens */
    grid-gap: 15px; /* Adjust gap for smaller screens */
  }

  .grid-item {
    height: 130px; /* Adjust height for smaller screens */
    width: 130px;
  }

  .tech-button {
    font-size: 14px; /* Adjust font size for smaller screens */
  }
}

@media (max-width: 480px) {
  .technologies-heading {
    font-size: 1.5em;
  }

  .grid-container {
    grid-template-columns: repeat(
      auto-fill,
      minmax(100px, 1fr)
    ); /* Adjust for mobile screens */
    grid-gap: 10px; /* Adjust gap for smaller screens */
  }

  .grid-item {
    height: 100px; /* Adjust height for smaller screens */
    width: 100px;
  }

  .tech-button {
    font-size: 12px; /* Adjust font size for smaller screens */
  }
}
